body {
	background-color:#D5D5D5;
	font-family:Arial, "Times New Roman", serif;
	font-size:1vw;
}

.arriba {
	position:relative;
	top:0;
	width:100%;
	height:300px;
	background-color:#D5D5D5;
	border-bottom:1px solid black;
}

.arribaexamen {
	position:relative;
	top:0;
	width:100%;
	height:50px;
	background-color:#D5D5D5;
	border-bottom:1px solid black;
}

.menu {
	position:absolute;
	bottom:0;
	right:0;
}

.divbubbles {
	position:absolute;
	left:5%;
	top:0;
}

#bubbles {
	list-style-type:none;
	margin:0;
	padding:0;
}

/*Menu horizontal de la capa superior. Inicio - Instrucciones - Examen */
#horizontal {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#96858F;
}

.hori {
	float:left;
	cursor:pointer;
}

.hori a {
	display:block;
	color:white;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
}
/*No puede haber un a href con un confirm para elegir no entrar en el enlace. Se crea un div con la misma estética y se le da la función de enlace*/
#examendiv {
	display:block;
	color:white;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
}

#examendiv:hover:not(.active) {
	background-color:#607993;
}

.hori a:hover:not(.active){
	background-color:#607993;
	transition: background-color .3s;
}

.active {
	background-color: #9099A2;
}
/* Fin menu horizontal */

.divprincipal {
	position:relative;
	top:0;
	left:25%;
	height:100%;
	width:100%;
}

/*Menu vertical del examen. Cada enlace es un acceso directo a cada pregunta*/
#vertical {
	list-style-type:none;
	margin:0;
	padding:0;
	width:20%;
	background-color:#96858F;
	position:fixed;
	overflow:auto;
}

.vert a {
	display:block;
	color:white;
	padding:14px 16px;
	text-decoration:none;
}

.vert a:hover {
	color:white;
	background-color:#607993;
	transition:background-color .3s;
}
/*Fin menu vertical fixed de enlaces*/